# Configuração Geral do Ambiente
ENVIRONMENT=development
PROJECT_NAME=100x-Inbound-API

# Segurança
API_TOKEN=super_secure_token_123

# Banco de dados
# Esta string é a versão LOCAL caso você rode "uvicorn". No docker-compose, o serviço "api" vai usar "mongodb://mongodb:27017..."
MONGO_URL=mongodb://localhost:27017/inbound_db

# Elasticsearch externo
ELASTICSEARCH_URL=http://seu-servidor-elastic:9200
